/* CSS Document */
@font-face {
    font-family: 'dejavu_sans';
    src: url('polices/dejavusans_bold_macroman/DejaVuSans-Bold-webfont.eot');
    src: url('polices/dejavusans_bold_macroman/DejaVuSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/dejavusans_bold_macroman/DejaVuSans-Bold-webfont.woff2') format('woff2'),
         url('polices/dejavusans_bold_macroman/DejaVuSans-Bold-webfont.woff') format('woff'),
         url('polices/dejavusans_bold_macroman/DejaVuSans-Bold-webfont.ttf') format('truetype'),
         url('polices/dejavusans_bold_macroman/DejaVuSans-Bold-webfont.svg#dejavu_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
	
}
@font-face {
    font-family: 'dejavu_sans';
    src: url('polices/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.eot');
    src: url('polices/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.woff2') format('woff2'),
         url('polices/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.woff') format('woff'),
         url('polices/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.ttf') format('truetype'),
         url('polices/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.svg#dejavu_sansbold_oblique') format('svg');
    font-weight: bold;
    font-style: oblique;
	
}
@font-face {
    font-family: 'dejavu_sans';
    src: url('polices/dejavusans_book_macroman/DejaVuSans-webfont.eot');
    src: url('polices/dejavusans_book_macroman/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/dejavusans_book_macroman/DejaVuSans-webfont.woff2') format('woff2'),
         url('polices/dejavusans_book_macroman/DejaVuSans-webfont.woff') format('woff'),
         url('polices/dejavusans_book_macroman/DejaVuSans-webfont.ttf') format('truetype'),
         url('polices/dejavusans_book_macroman/DejaVuSans-webfont.svg#dejavu_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dejavu_sans';
    src: url('polices/dejavusans_oblique_macroman/DejaVuSans-Oblique-webfont.eot');
    src: url('polices/dejavusans_oblique_macroman/DejaVuSans-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/dejavusans_oblique_macroman/DejaVuSans-Oblique-webfont.woff2') format('woff2'),
         url('polices/dejavusans_oblique_macroman/DejaVuSans-Oblique-webfont.woff') format('woff'),
         url('polices/dejavusans_oblique_macroman/DejaVuSans-Oblique-webfont.ttf') format('truetype'),
         url('polices/dejavusans_oblique_macroman/DejaVuSans-Oblique-webfont.svg#dejavu_sansoblique') format('svg');
    font-weight: normal;
    font-style: oblique;

}
@font-face {
    font-family: 'dejavu_sans';
    src: url('polices/dejavusans_extralight_macroman/DejaVuSans-ExtraLight-webfont.eot');
    src: url('polices/dejavusans_extralight_macroman/DejaVuSans-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/dejavusans_extralight_macroman/DejaVuSans-ExtraLight-webfont.woff2') format('woff2'),
         url('polices/dejavusans_extralight_macroman/DejaVuSans-ExtraLight-webfont.woff') format('woff'),
         url('polices/dejavusans_extralight_macroman/DejaVuSans-ExtraLight-webfont.ttf') format('truetype'),
         url('polices/dejavusans_extralight_macroman/DejaVuSans-ExtraLight-webfont.svg#dejavu_sansextralight') format('svg');
    font-weight: lighter;
    font-style: normal;

}

.conteneur
{
	font-family: 'dejavu_sans', Arial, 'Liberation Sans', Freesans, sans-serif;
	display: flex;
	width: 960px;
	border: 1px solid #81D4FA;
	margin: auto;
}
nav
{
	width: 30%;
	background-color: #81D4FA;
}
img
{
	border-radius: 50% 50% 50% 50%;
	border-color: red;
	border-style: solid;
	height: 125px;
	width: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 30px;
}
.contact
{
	height: 30%;
	padding-top: 25px;
}
.apropos
{
	height: 45%;
	text-align: justify;
	padding-bottom: 50px;
}
.apropos p
{
	padding: 0px 35px 0px 35px;
	font-size: 1em;
	color: #030000
}
nav h2
{
	font-size: 1.2em;
	color: #81D4FA;
	background-color: #1C3334;
	text-align: center;
	padding: 5px 0px 5px 0px;
	font-weight: normal;;
}
.contact ul
{
	list-style-type: none;
	padding-right: 60px;
	padding-left: 35px;
	font-style: normal;
	font-size: 0.8em;
	color: #212121;
}
.contact a
{
	text-decoration: none;
	color: #212121;
}
.loisirs ul
{
	padding-top: 10px;
	list-style-type: none;
	text-align-last: justify;
	padding-right: 35px;
}
.loisirs li
{
	display: inline;
	font-size: 2.5em;
	
}
main
{
	padding: 50px 30px 0px 55px;
}
header
{
	margin-bottom: 5em;
}
header h1
{
	display: inline;
	margin: auto;
	font-weight: normal;
	font-size: 1.8em;
}
header u
{
	font-weight: bold;
	text-decoration: none;
	color: #81D4FA;
}
header h2
{
	display: inline;
	font-weight: lighter;
	font-size: 1.5em;
}
.sous-titre:after
{
    display:block;
    clear:both;
    content : "";
    position: relative;
    left    : -268px;
    bottom  : 0;
    max-width: 250px;
    height  : 1px;
    width   : 11%;
    border-bottom: 2px solid #81D4FA;
    margin:0 auto;
}
.table30
{
	width: 40%;
	font-weight: bold;
	vertical-align: baseline;
	text-align: left;
	font-size: 0.7em;
}
.tddroite
{
	vertical-align: baseline;
}
h2 i
{
	font-size: 25px;
	padding-right: 1em;
}
article i
{
	color: #81D4FA;
}
td .far
{
	font-size: 12px;
	padding-right: 8px;
}
td .fas
{
	font-size: 8px;
	padding-right: 10px;
}
td p
{
	font-size: 1em;
	margin: auto;
}
.lieu
{
	padding-left: 23px;
}
article h2
{
	font-size: 16px;
	border-bottom: 2px solid #81D4FA;
	padding-bottom: 10px;
	padding-top: 20px;
	font-weight: bolder;
}
article h3
{
	margin: auto;
	padding-bottom: 8px;
	font-weight: bold;
	font-size: 13px;
}
small
{
	margin: auto;
	font-size: 1.1em;
	font-weight: lighter;
}
.description
{
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
footer
{
	display: flex;
}
footer ul
{
	margin: auto;
	list-style: none;
	font-size: 14px;
	padding-left: 0px;
	padding-bottom: 20px;
}
footer h4
{
	margin: auto;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 12px;
}
footer section
{
	width: 50%;
}
footer p
{
	margin: auto;
	font-weight: bold;
	font-size: 12px;
}