/* CSS Document */
/****************************** START FONTS ***********************/
@font-face {
    font-family: 'WorkSans VariableFont wght';
    src: url('polices/Work_Sans/WorkSans-VariableFont_wght.ttf"');
}

body
{
	font-family: 'WorkSans VariableFont wght',sans-serif;
}
/****************************** END FONTS ***********************/
/****************************** START CONTENEUR ***********************/
.conteneur
{
	display: flex;
	width: 80%;
	border: 1px solid #81D4FA;
	margin: auto;
}
/****************************** END CONTENEUR ***********************/
/****************************** PARTIE GAUCHE***********************/
nav
{
	width: 30%;
	background-color: #81D4FA;
}
.image
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
img
{
	border-radius: 50%;
	border-color: red;
	border-style: solid;
	height: 130px;
	width: 130px;
	margin-top: 30px;
}
.contact
{
	margin: auto;
	width: auto;
	height: auto;;
	padding-top: 25px;
}
.apropos
{
	width: auto;
	height: auto;
	flex-wrap: nowrap;
	text-align: justify;
}
.apropos p
{
	margin: auto;
	height: auto;
	padding: 0px 35px 0px 35px;
	font-size: 0.8em;
	color: #030000
}
nav h2
{
	font-size: 1.2em;
	color: #81D4FA;
	background-color: #1C3334;
	text-align: center;
	padding: 5px 0px 5px 0px;
	font-weight: normal;;
}
.contact ul
{
	list-style-type: none;
	padding-right: 60px;
	padding-left: 35px;
	font-style: normal;
	font-size: 0.8em;
	color: #212121;
}
.contact a
{
	text-decoration: none;
	color: #212121;
}
.loisirs ul
{
	padding-top: 10px;
	list-style-type: none;
	text-align-last: justify;
	padding-right: 35px;
}
.loisirs li
{
	display: inline;
	font-size: 2.5em;
	
}
.loisirs
{
	height: auto;
}
/****************************** FIN PARTIE GAUCHE ***********************/
/****************************** PARTIE DROITE  ***********************/
main
{
	padding: 50px 30px 0px 55px;
}
header
{
	display: block;
	width: auto;
	margin-bottom: 5em;
}
header h1
{
	display: block;
	margin: auto;
	font-weight: normal;
	font-size: 1.8em;
}
header u
{
	font-weight: bold;
	text-decoration: none;
	color: #81D4FA;
}
header h2
{
	margin: auto;
	font-weight: lighter;
	font-size: 1.5em;
}
header:after
{
    display:block;
    clear: right;
    content : "";
    position: relative;
    right    : -2px;
    bottom  : 0;
    max-width: 250px;
    height  : 1px;
    width   : 65px;;
    border-bottom: 2px solid #81D4FA;
}
.table30
{
	width: 35%;
	vertical-align: baseline;
	text-align: left;
}
.table30 p
{
	margin: auto;
	font-weight: bolder;
	font-size: 0.9em;
}
.tddroite p
{
	font-size: 0.8em;
	margin: auto;
}
.tddroite
{
	width: auto;
	vertical-align: baseline;
}
h2 i
{
	font-size: 25px;
	padding-right: 1em;
}
article i
{
	color: #81D4FA;
}
td .far
{
	font-size: 12px;
	padding-right: 8px;
}
td .fas
{
	font-size: 8px;
	padding-right: 10px;
}
.lieu
{
	padding-left: 25px;
}
article h2
{
	margin: auto;
	font-size: 1.2em;
	border-bottom: 2px solid #81D4FA;
	padding-bottom: 5px;
	padding-top: 10px;
	font-weight: bold;
}
article h3
{
	margin: auto;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 1em;
}
small
{
	margin: auto;
	font-size: 1em;
	font-weight: lighter;
}
.description
{
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
footer section
{
	width: 50%;
}
footer
{
	display: flex;
	padding-top: 10px;
	padding-bottom: 20px;
}
footer ul
{
	margin: auto;
	list-style: none;
	padding-left: 0px;
}
footer li
{
	font-size: 0.8em;
}
footer h4
{
	margin: auto;
	font-weight: bold;
	font-size: 0.9em;
	padding-bottom: 8px;
}
footer p
{
	margin: auto;
	font-weight: bold;
	font-size: 0.9em;
}
/****************************** FIN PARTIE DROITE  ***********************/

/**
Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
{
	
}
Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) and (max-width: 767.98px)
{
	
}
/** Medium devices (tablets, 768px and up) 
@media (min-width: 768px) and (max-width: 991.98px)
{
	.conteneur
	{
		width: 720px;
	}
	.sous-titre:after
	{
		display:block;
		clear:both;
		content : "";
		position: relative;
		left    : -185px;
		bottom  : 0;
		max-width: 250px;
		height  : 1px;
		width   : 11%;
		border-bottom: 2px solid #81D4FA;
		margin:0 auto;
	}
}

**/